.property-image {
    position: relative;
}

.property-view-count {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    background-color: cornflowerblue;
    color: white;
    padding: 4px;
}

.no-property-found {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}