.btn-action {
    padding: 10px !important;
}

.offer-status {
    border-radius: 5px;
    padding: 3px 6px;
    color: white !important;
    font-style: italic;
}

.created {
    background-color:  blue;
}

.cancelled, .rejected, .completed, .unpublished  {
    background-color:  red;
}

.approved, .available {
    background-color:  green;
}

.contingent, .pending {
    background-color: rgb(129, 91, 21);
}
